__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/
data/dataset/*
!data/dataset/.gitkeep
data/uploads/*
!data/uploads/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
data/faiss_index/*
!data/faiss_index/.gitkeep
static/images/*
!static/images/.gitkeep
evaluation/results/*
!evaluation/results/.gitkeep

